################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/GraphVisualization/GraphDataLoaderCore/bin/Debug
/GraphVisualization/GraphDataLoaderCore/obj/Debug
/GraphVisualization/GraphDataLoaderCoreTest/bin/Debug
/GraphVisualization/GraphDataLoaderCoreTest/obj/Debug
/GraphVisualization/GraphShared/bin/Debug
/GraphVisualization/GraphVisualization/obj/Debug
/GraphVisualization/GraphShared/obj/Debug
/GraphVisualization/GraphDataStorageCoreTest/bin/Debug
/GraphVisualization/GraphDataStorageCoreTest/obj/Debug
/GraphVisualization/GraphDataStorageCore/obj/Debug
/GraphVisualization/GraphDataStorageCore/bin/Debug
